### Example user template
# IntelliJ project files
.idea
*.iml
out
gen
target
*.ipr
*.iws
.classpath
.project
.settings
.gradle
.DS_Store
src/it/*/bin/
src/it/*/tomcat/
src/it/*/war/WEB-INF/classes/
src/it/*/war/WEB-INF/lib/
src/it/*/war/META-INF/
src/it/*/www-test/
classes
/war
/www-test
sema4g-example/src/main/webapp/SeMa4gExample
gradlew
gradlew.bat
/dist
/gradle
/*/build
/*/.gradle
